<section>

<!--article>
AULA 01
  <h3>Interpolation / Interpolação  </h3>
    <p>String redenrizada com interpoçaão: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1}}</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor()}}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso()}}</p>
    <p>[textContent]=</p>

</!--article>

<article>
<h3>Property Binding</h3>
<img src="{{ urlImagem }}">
<img [src]="urlImagem">
<img bind-src="urlImagem">

</article -->

<article>
<h3>Class e Style binding</h3>

</article>


</section>
